body * {
  font-family: "Inter", sans-serif;
}

/* cores  */
:root {
  --gray: rgb(211, 211, 209);
  --green: rgb(53, 141, 6);
  --light: rgb(120, 180, 88);
  --selected: rgb(41, 70, 24);
  --hover: rgb(107, 184, 66);
  --hoverbutton: rgb(40, 68, 24);
  --dark: rgb(10, 17, 6);
}

/* card do produto */
.container {
  display: flex;
  justify-content: center;
  width: 55em;
  background-color: var(--gray);
  margin: 100px auto;
  padding: 45px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgb(71, 71, 69);
}

/* textos */
p {
  font-size: 0.8em;
  color: var(--green);
  letter-spacing: 1px;
}

/* imagem e tamanhos */
.image-and-sizes {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;

  & img {
    width: 25em;
    margin-top: -20px;
    margin-left: -50px;
  }

  & .slideshow-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;

    & span {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: var(--light);
    }

    & .selected {
      background: var(--selected);
    }
  }

  & .pick {
    text-transform: uppercase;
  }

  & .sizes {
    display: flex;
    justify-content: flex-start;
    gap: 0.4em;

    & span {
      border: 1px solid var(--light);
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
      
      &:hover {
        background: var(--hover);
        color: var(--gray);
        transition: all 0.2s ease-in-out;
      }
    }

    & .selected {
      background: var(--selected);
      color: var(--gray);
    }
  }
}

/* produto e botões */
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & p {
    text-transform: uppercase;
  }

  & h1 {
    font-size: 2em;
    margin-top: -20px;
    color: var(--dark);
  }

  & .category {
    margin-top: -3px;
  }

  & h2 {
    color: var(--green);
    margin-top: -34px;
  }

  & .description {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 44px;
    font-size: 15px;
    color: var(--dark);
    line-height: 25px;
    text-align: justify;
  }

  & button {
    background: rgb(81, 139, 47);
    padding: 15px;
    display: inline-block;
    text-transform: uppercase;
    color: var(--gray);
    outline: 0;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 12px;
    letter-spacing: 2px;
    font-size: 14px;
    
      &:hover {
        background: var(--hoverbutton);
        transition: all 0.2s ease-in-out;
      }
  }

  & .add {
    width: 67%;
  }

  & .fav {
    width: 22%;
  }
}
